

.doc_intro{
    height: 70vh;
    background: url(../images/pexels-brotin-biswas-158640-518543.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    width: 100%;
    display: grid;
   grid-template-columns:1fr 1fr;
   row-gap: 1rem;
   column-gap: 1rem;
   margin-top: 2rem;
   padding-left: 5%;
   
    
}/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */
.doc_box{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    gap: 1rem;
    text-align: center;
    padding: 10px;
}

.doc_box img{
   object-fit: cover;
   object-position: center;width: 90%;
}
.doc_box span{
    border-radius: 10px;
    border: 1px solid black;
    width:fit-content;
    padding: 8px;
    display: inline-block;
    margin-left: 30%;
    background-color: rgb(232, 235, 238);
}

.doc_box span:hover{
 background-color: rgb(19, 17, 17);
 transition: .5s ease;

}
.doc_box span:hover >a{
    color: white;
}