.cont{
    background-color: #ebebf0;
    padding-left: 5%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
}
img{
    width: 80%;
    
    
    
}

img:nth-child(1){
    animation: position1 15s forwards infinite ease;
    animation-delay:1s;

}
@keyframes position1 {
    5%{

        margin-top: 110%;

      ;
    }
    50%{
        margin-top: 110%;
       margin-left: 100%;
    }
    80%{
        margin-top:0% ;
        margin-left: 100%;

    }
    100%{
        margin-top:0 ;
        
      
    }
}

 img:nth-child(2){
    animation: position2 15s forwards infinite;
    animation-delay: 3s;
    
}
@keyframes position2 {
    5%{

        margin-left: -100%;
        
    }
    50%{
       
        margin-top: 110%;
        margin-left: -99%;
      
    }
    80%{
        margin-top: 110%;
       
        margin-left: 10%;
        

    }
   100%{
        margin-top:0 ;
        
      
    }
}

img:nth-child(3){
    animation: position3 15s forwards infinite;
}
@keyframes position3 {
    
        50%{
            margin-top:115% ;
            z-index: 2;
        }
        80%{
            margin-top:0 ;
        }

}/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com *//* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */

img:nth-child(4){
    animation: position4 15s forwards infinite;
}
@keyframes position4{
    5%{

        margin-left: 100%;
       
    }
    50%{
       
        margin-top: 100%;
       margin-left: 100%;
      
    }
    80%{
        margin-top: 100%;
       
        margin-left: 10%;
        

    }
   100%{
        margin-top:0 ;
        
      
    }
}

img:nth-child(5){
    animation: position5 15s forwards infinite;
}
@keyframes position5 {
    5%{

        margin-left: -100%;
       
    }
    50%{
       
       margin-top: 100%;
       margin-left: -100%;
      
    }
    80%{
        margin-top: 100%;
       
        margin-left: 10%;
        

    }
   100%{
        margin-top:0 ;
        
      
    }
}

img:nth-child(6){
    animation: position6 10s forwards infinite;
}
@keyframes position6 {
    20%{
        margin-top:-215% ;
    }
    98%{
        margin-top:0 ;
    }
}

img:nth-child(7){
    animation: position7 10s forwards infinite;
     
}
@keyframes position7 {
        5%{

        margin-top: -115%;
       
       
    }
    50%{
        margin-top: -115%;
      

       
      
    }
    80%{
        margin-top: 0%;

       
        margin-left: 100%;
        

    }
   100%{
        margin-top:0%;
      
      
    }
}
img:nth-child(8){
    animation: position8 10s forwards infinite;
}
@keyframes position8 {
    
        5%{

        margin-top: -115%;
       
       
    }
    50%{
        margin-top: -115%;
       margin-left: -100%;

       
      
    }
    80%{
        margin-top: 0%;

       
        margin-left: -100%;
       
        

    }
   100%{
        margin-top:0%;
      
      
    }
} 