/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */
*{
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
header{
    display: flex;
    width: 100%;
    background-color: rgb(138, 192, 239);
    justify-content: space-around;
   
}
nav{
    display: flex;
    padding: 19px;
    gap: 2rem;
}
li{
    list-style: none;
}
li a{
    color: rgb(251, 252, 252);

}


.contact_intro{
    width: 100%;
    height: 70%;
   background-image: url(../images/pexels-pixabay-207456.jpg);
  background-position:center;
   background-size: cover;
   background-repeat: no-repeat;

   background-attachment: fixed
  
   
   
   
} 
/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */

.contact_container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}


.contact_box{
    width: 15%;

    border: 2p solid black;
    text-align: center;
    box-shadow: 5px 3px 9px rgb(151, 151, 151);
 word-break: break-all;
 padding: 10px;
}

.contact_box p{
margin-top: 2.4rem;
}/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */

form{
    
      width: 60%;
     
    box-shadow: 0px 2px 9px rgb(151, 151, 151);
    border-radius: 10px;
    margin-top: 4rem;
  }
  .container{
    margin-top: 3rem;
    width: 100%;
   
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  h1{
      cursor: default;
      height: 2rem;
      margin-top: 2px;
  }
  h1 span{
     color: rgb(74, 241, 65);
      text-decoration: underline;
      text-underline-offset: 3px;
     
  }
  input{
      width: 90%;
      height: 7vh;
      align-self: center;
      color: black;
      font-size: 14px;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid black;
      margin-top: -.4rem
  }.parallax{
    width: 100%;
    height: 100vh;
  }
  /* form btn */
  .login{
      align-self: center;
      width: 40%;
      font-size: 19px;
      border-radius: 19px;
      height: 6vh;
     margin-bottom: 7px;
     
     
  }
  .login:nth-child(2){
    width: 30%;
    border-radius: 0;
  }
  textarea{
  max-width: 90%;
 min-height: 16vh ;
  min-width: 90%;
  place-self: center;
  margin-top: -1.2rem;
  
 
  }/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */
  
  .map_flex{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
   
  }/* this is the work of emmanuel nyarko 0534086538 
emmanuelnyarko284@gmail.com */
 
  